<% store_location %>
<h1>お知らせ詳細</h1>
<p class="border"></p>

<table border="1">
  <tr><th>タイトル</th><td><%= @notice.title%></td></tr>
  <tr><th>発信元</th><td><%= @notice.library_id %></td></tr>
  <tr><th>本文</th><td><%= @notice.body %></td></tr>
</table>
